<%- include('partials/header.ejs') %>
<h1 id="h1-contact">Contact with us</h1>
<div class="container5">
    <form id="contact-form">
        <input name="name" type="text" class="feedback-input" placeholder="Name">
        <input name="email" type="text" class="feedback-input" placeholder="Email">
        <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
        <input value="submit" type="submit">
    </form>
</div>
<%- include('partials/footer.ejs') %>